.loading-block,
.home-page, .quiz-screen, .result-page {
  height: 100vh;
}
.home-page, .quiz-screen, .result-page {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/*Quiz screen*/
.quiz-box-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-box {
  border: 1px solid gray;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 50vh;
  overflow-y: auto;
  border-radius: 0.375rem;
}
.quiz-ans {
  display: flex !important;
  width: 100%;
  flex-direction: column;
}
/*Result screen*/
.final-result{
  max-height: 500px;
  overflow-y: auto;
}